/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 juin 2020, 13:31:07
    Author     : niko8
*/

@font-face{ 
    font-family: "Retrow";
    src: url('../css/polices/Retrow Mentho Italic.ttf') format("truetype");
}

@font-face{ 
    font-family: "Volkorn";
    src: url('../css/polices/Vollkorn-BoldItalic.ttf') format("truetype");
}

@font-face{ 
    font-family: "Ath";
    src: url('../css/polices/Athletic.TTF') format("truetype");
}

@font-face{ 
    font-family: "Var";
    src: url('../css/polices/varsity_regular.ttf') format("truetype");
}

@font-face{ 
    font-family: "NewAth";
    src: url('../css/polices/New Athletic M54.ttf') format("truetype");
}


#carouselExampleCaptions
{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px; 
}

.carousel-item img
{
   height: 100%;
   width : 100%;
}


h1 {
    color: #ff6811; /* Couleur du texte */
    text-align: center; /* Le texte est centré */
    font-size: xx-large; /* Le texte est grossi en XXL */
     font-family: "NewAth";
}

section {
    display: block;
    margin-bottom: 4%;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    margin-left: 0%;
}

img
{
    vertical-align: middle;
    border-style: none;
    width: 20%;
    margin: 0%;
    left: 19%;
    margin-left: auto;
    margin-right: auto;
}

#thematique h1 {
    width: 100%; /* Le titre occupe toute la largeur */ 
    margin-bottom: 10px; /* Marge basse */
    margin-top: 40px;
    color: black;
}


.Photo1 {
    display: inline;
    font-size: x-large;
    color: red;
    font-family: "NewAth";
    margin-left: 4%;
}

.Photo2 {
    display: inline;
    font-size: x-large;
    margin: 18%;
    color: red;    
    font-family: "NewAth";
   
}

.Photo3 {
    display: inline;
    font-size: x-large;
    color: red;
    margin: -17px;
    font-family: "NewAth";
}




#gauche {
    background: transparent url('../images_goodies/element.png') no-repeat center 10px; /* Fond */
}

#milieu {
    background: transparent url('images/casquecross.png') no-repeat center 0; /* Fond */
}

#droite {
    background: transparent url('images/casquepiste.png') no-repeat center 10px; /* Fond */
}