/*
    Description : CSS pour la page nous_contacter.
    Page web créé dans le cadre du projet Web/Dev ISEN Toulon 2020 
    Auteur : Loris Martinez - Alexis Rafé - Nicolas Lebon
    Email : lorismartinez1202@gmail.com - alexisrafe@gmail.com - niko83136@gmail.com
*/

h1{
    text-align: center
}

.form_contact{
    margin-top: 50px;
}

.phrase_contact{
    font-size : 20px;   
}

.col-md-6{
    background-color: white;
}

h2{
    padding: 30px;
}

.label_contact{
    margin-left: 30px;
}

.contact{
    background-color: #808B96;
    color : white;
    margin-left: 30px;
}

.contact::-webkit-input-placeholder {
    color: white !important;
}
.contact:-moz-placeholder { /* Firefox 18- */
    color: white !important; 
}
.contact::-moz-placeholder { /* Firefox 19+ */
    color: white !important; 
}
.contact:-ms-input-placeholder { 
    color: white !important; 
}

body{
    overflow-x: hidden;
}

footer{
    margin-top: 100px;
}

.feed_contact{
    margin-left: 30px;
}