/* 
    Description : CSS principal définissant la charte graphique du site. 
    Created on : 30 avr. 2020, 10:23:27
    Auteur : Loris Martinez - Alexis Rafé - Nicolas Lebon
    Email : lorismartinez1202@gmail.com - alexisrafe@gmail.com - niko83136@gmail.com
*/


.navbar{
    height: 85px;
}
.border-bottom{
    border-color: #ABB2B9!important;
    border-width: 2px!important;
}
.navbar navbar-expand-lg navbar-light bg-light{
    margin-left: 10px;
}
.bg-light{
    background-color: #D5D8DC!important;
}

.navbar-light .navbar-brand{
    font-size: 35px;
    margin-right: 30px;
    margin-left: 15px;
}
a.nav-link{
    font-size: 20px;
    color : white!important;
    padding-right: 25px!important;
    padding-left: 25px!important;
}
a.nav-link:hover{
    background-color: #ABB2B9;
}

.btn-secondary{
    background-color: #ABB2B9;
    border-color: #808B96;
}

.dropdown-item{
    text-align: right;
}
body{
    background-color: #F8F9F9;
}

