/* 
    Description : CSS principal définissant la charte graphique du site. 
    Created on : 30 avr. 2020, 10:23:27
    Auteur : Loris Martinez - Alexis Rafé - Nicolas Lebon
    Email : lorismartinez1202@gmail.com - alexisrafe@gmail.com - niko83136@gmail.com
*/

body{
    background-color: #ECF0F1;
}