/* 
    Description : CSS principal définissant la charte graphique du site. 
    Created on : 30 avr. 2020, 10:23:27
    Auteur : Loris Martinez - Alexis Rafé - Nicolas Lebon
    Email : lorismartinez1202@gmail.com - alexisrafe@gmail.com - niko83136@gmail.com
*/
html{
    height: 100%;
}
.navbar{
    height: 90px;
    width: 100%;
}
.border-bottom{
    border-color: #ABB2B9!important;
    border-width: 2px!important;
}
.navbar navbar-expand-lg navbar-light bg-light{
    margin-left: 10px;
}
.bg-light{
    background-color: #D5D8DC!important;
}

.imglogoheader{
    width: 120px;
}
.navbar-light .navbar-brand{
    margin-right: 30px;
    margin-left: 15px;
}
a.nav-link{

    font-size: 25px;
    color : white!important;
    padding-right: 25px!important;
    padding-left: 15px!important;
}
a.nav-link:hover{
    background-color: #ABB2B9;
    font-weight: bold;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: #ABB2B9
}
.btn-secondary{
    background-color: #ABB2B9;
    border-color: #808B96;
}

.dropdown-item{
    text-align: right;
}
.page{
    background-color: white;
    height: 100%;
}
.pagination{
    justify-content: center;
    padding-top: 0;
}

#border-top{
    display: block;
    background-color: #D5D8DC;
    border-color: #ABB2B9!important;
    border-width: 2px!important;
}
.footer-main{
    font-size: .875rem;
    padding: 25px 0 25px;
}

.footer-main .footer-container{
    display: flex;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-main .footer-items{
    margin-top: auto;
}

.footer-main .ficons{
    flex: 1;
    flex-direction: row;
}

.footer-main .copyright{
    top: 145px;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    margin-top: 10%;
}

.fab{
    padding-right:10px;
    font-size: 20px;
}

.footer-main .fcenter{
    flex: 1;
    text-align: center;
    justify-content: center;
}

.footer-main .list-footer{
    flex: 1;
    justify-content: flex-end;
    font-size: 15px;

}

.sponsor{
    color: black;
    list-style-type: none;
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding:0;
}

.sponsor li {
    align-content: space-around;

}
.sponsor li a{
    color: #1977FA;
}
.sponsor li a:hover{
    color: blue;
}
#rubriques  {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content:  center;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    margin-bottom: 10px;
}

#rubriques article{
    height: 500px;
    margin: 17px;
    margin-right: 0px;
    margin-left: 40px;
    position: relative;
    align-content: center;
}
.card-body{
    border: #ABB2B9 thin solid;
    padding: 1.5rem;
    padding-bottom: 5rem;
}
.badge-danger{
    margin-left: 8px;
}

.badge-dark{
    margin-left: 8px;
}
.card-article{
    width: 400px;
}

.card-img-top{
    height: 250px;
}

.recherche{
    display:none;
}
