/* 
    Description : CSS principal définissant la charte graphique du site. 
    Created on : 30 avr. 2020, 10:23:27
    Auteur : Loris Martinez - Alexis Rafé - Nicolas Lebon
    Email : lorismartinez1202@gmail.com - alexisrafe@gmail.com - niko83136@gmail.com
*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

@font-face{ 
    font-family: "Retrow";
    src: url('../css/polices/Retrow Mentho Italic.ttf') format("truetype");
}

@font-face{ 
    font-family: "Volkorn";
    src: url('../css/polices/Vollkorn-BoldItalic.ttf') format("truetype");
}

.navbar{
    height: 90px;
    width: 100%;
}
.border-bottom{
    border-color: #ABB2B9!important;
    border-width: 2px!important;
}
.navbar navbar-expand-lg navbar-light bg-light{
    margin-left: 10px;
}
.bg-light{
    background-color: #D5D8DC!important;
}

.imglogoheader{
    width: 120px;
}
.navbar-light .navbar-brand{
    margin-right: 30px;
    margin-left: 15px;
}
a.nav-link{

    font-size: 25px;
    color : white!important;
    padding-right: 25px!important;
    padding-left: 15px!important;
}
a.nav-link:hover{
    background-color: #ABB2B9;
    font-weight: bold;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: #ABB2B9
}
.btn-secondary{
    background-color: #ABB2B9;
    border-color: #808B96;
}

.dropdown-item{
    text-align: right;
}
.page{
    background-color: white;
    height: 100%;
}

#rubriques{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#rubriques article{
    height: 500px;
    margin: 17px;
    position: relative;
    align-content: center;
}
.card-body{
    border: #ABB2B9 thin solid;
    padding: 1.5rem;
    padding-bottom: 5rem;
}
.badge-danger{
    margin-left: 8px;
}

.badge-dark{
    margin-left: 8px;
}
.card-article{
    width: 400px;
}

.card-img-top{
    height: 250px;
}

#recherche{
    margin-top:10px;
}

.none{
    display:none;
}

.block{
    display:block;
}

.pagination{
    justify-content: center;
    padding-top: 0;
}

#border-top{
    background-color: #D5D8DC;
    border-color: #ABB2B9!important;
    border-width: 2px!important;
}
.footer-main{
    font-size: .875rem;
    padding: 15px 0 15px;
}

.footer-main .footer-container{
    display: flex;
    position: relative;
    align-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.footer-main .footer-items{
    margin-top: auto;
}

.footer-main .ficons{
    flex: 1;
    flex-direction: row;
    
}

.footer-main .copyright{
    top: 145px;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    margin-top: 60px;;
}

.fab{
    padding-right:10px;
    font-size: 20px;
}

.footer-main .fcenter{
    flex: 1;
    text-align: center;
    justify-content: center;
}

.footer-main .list-footer{
    flex: 1;
    font-size: 15px;
}

.sponsor{
    list-style-type: none;
    font-size: 15px;
    margin: 0;
    padding: 0;
    float: right;
    text-align: center;
}

.sponsor li a{
    color: #1977FA;
}
.sponsor li a:hover{
    color: blue;
}


@media only screen and (min-width : 1024px) and (max-width : 1280px){
    body{
        width: 100%;
    }
    article{
        margin: 3%!important;
    }
}
